<div class="primary-menu">
  <nav class="navbar navbar-expand-lg  ">
    <a class="navbar-brand" href="#">Form Builder</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-item nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" routerLink="/form-builder"
            >Form Builder</a
          >
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-item nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
